.dockerignore
.env
.git
.gitignore
.vs
.vscode
docker-compose*.yml
*.md
**/bin/
**/obj/
**/node_modules/
**/bower_components/
**/wwwroot/lib/
global.json
**/appsettings.localhost.json
packages/
test-results/
TestResults/